ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*-- //Reset Code --*/

/*-- Index-Page-Styling --*/

body {
  background: url("./components/images/background1.jpg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.forecast {
  width: 50%;
  float: none;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.today-weather h3 {
  text-transform: capitalize;
  font-size: 50px;
  color: #fff;
  width: 80%;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: 1px solid #eee;
}

.today-weather ul li {
  width: 74%;
  margin: 0 auto;
  line-height: 39px;
  border-width: thin;
  border-bottom: 1px solid #fefefe;
  color: #eee;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}

.today-weather ul li span {
  float: right;
  padding-right: 10px;
}

.today-weather ul li:nth-child(5) {
  border-bottom: none;
}

/*-- //Index-Page-Styling --*/

/*-- Responsive Code --*/

@media screen and (max-width: 603px) {


  .forecast {
    width: 100%;
    padding-bottom: 30px;
  }
}


@media screen and (max-width: 480px) {
  /*--w3layouts--*/
  /*--agileits--*/


  .today-weather h3 {
    font-size: 40px;
  }

  .today-weather h3 {
    font-size: 30px;
  }
  
  .today-weather h3 {
    display: none;
  }
  .today-weather {
    background-color: rgba(0, 0, 0, 0.73);
    margin-top: 32px;
    
    padding: 25px 0px;
  }
}


/*-- //Responsive Code --*/
.cityHead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.search-box .img-box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 32px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.search-box img {
  width: 60%;
  cursor: pointer;
}
.search-box .search-bar {
  border: none;
  padding: 10px 11px;
  background: transparent;
  color: white;
  border-bottom: 1px solid;
  font-size: 16px;
}
.search-box .search-bar::placeholder {
  color: white;
}
.search-bar:focus {
  outline: none;
  transition: all 1s ease-in-out;
}

